[submodule "submodules/yaml-cpp"]
	path = submodules/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "submodules/librdkafka"]
	path = submodules/librdkafka
	url = git@github.com:edenhill/librdkafka.git
[submodule "submodules/cppkafka"]
	path = submodules/cppkafka
	url = git@github.com:mfontanini/cppkafka.git
